* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

/* -----------------scrollbar------------------ */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

img {
  pointer-events: none;
  user-select: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(157, 149, 231);
  height: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1cfff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8aed6;
}