.chart-grid>.MuiPaper-root {
    height: 100%;
}

.dashboard-card.card-img-holder {
    position: relative;
    padding: 35px;
    border-radius: 16px;
    color: white;
}

.stretch-card>.dashboard-card {
    width: 100%;
    min-width: 100%;
}

.bg-gradient-info {
    background: linear-gradient(to right, #90caf9, #047edf 99%);
}

.bg-gradient-warn {
    background: linear-gradient(to right, #ffbf96, #fe7096);
}

.bg-gradient-success {
    background: linear-gradient(to right, #84d9d2, #07cdae)
}

.dashboard-card.card-img-holder .card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}