.pagination-style {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination-container {
    padding: 7px 20px 0px 20px;
}

.pagination-style li {
    border: 1px solid black;
    border-right: 0px;
}

.pagination-style .next {
    border-right: 1px solid black;
}

.pagination-style li a {
    padding: 7px 10px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

.pagination-style .selected a {
    color: rgb(240, 40, 137);
}

.pagination-style .disabled a {
    cursor: not-allowed;
    color: gray;
}

.pagination-style .disabled a:focus {
    box-shadow: none;
    outline: transparent;
}

.pagination-container .single-card {
    cursor: auto;
}