<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact</title>
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-j8/OkF/yMow9jAgvOayLcnm8H0PCFbKjxGvRJLP2zidZOaGJZRMXKjtfIbHn3+8QRJMCyEoJxHkIyCQz1KjZVQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- ================For Icons================ -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="styleforcontact.css" />
    </head>

    <body>
        <div class="container">
            <div class="header">
                <p class="text">Contact Us</p>

                <div class="hr-container">
                    <hr />
                </div>

                <div class="map_form">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5310.710363208395!2d90.31537644199173!3d23.877740780601037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8ada2664e21%3A0x3c872fd17bc11ddb!2sDaffodil%20International%20University!5e0!3m2!1sen!2sbd!4v1683999444413!5m2!1sen!2sbd"
                            width="100%"
                            height="100%"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                    <div class="form">
                        <form>
                            <div class="input_field">
                                <input
                                    type="text"
                                    class="input"
                                    placeholder="Enter Username"
                                    required
                                />
                            </div>

                            <div class="input_field">
                                <input
                                    type="password"
                                    class="input"
                                    placeholder="Password"
                                    required
                                />
                            </div>

                            <div class="input_field">
                                <textarea
                                    class="input_unique"
                                    placeholder="Write your Needs"
                                ></textarea>
                            </div>

                            <div class="btn">
                                <button class="button">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
