<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FAQ</title>
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-j8/OkF/yMow9jAgvOayLcnm8H0PCFbKjxGvRJLP2zidZOaGJZRMXKjtfIbHn3+8QRJMCyEoJxHkIyCQz1KjZVQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- ================For Icons================ -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="styleforfaq.css" />
    </head>

    <body>
        <div class="container">
            <div class="header">
                <p class="text">FAQ</p>
                <button class="button">Add</button>
                <div class="hr-container">
                    <hr />
                </div>

                <div class="accordion">
                    <div class="content_box">
                        <div class="label">List one</div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga harum
                                ad nesciunt quas nemo. Distinctio, similique libero ex minima vel
                                rem derit quasi officia in aperiam quam, at et voluptate
                                atque, cupiditate aliquam? Dolore, tenetur. Facilis dolores a illo
                                temporibus.
                            </p>
                        </div>
                    </div>

                    <div class="content_box">
                        <div class="label">List two</div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga harum
                                ad nesciunt quas nemo. Distinctio, similique libero ex minima vel
                                rem reprehenderit quasi officia in aperiam quam, at et voluptate
                                atque, cupiditate aliquam? Dolore, tenetur. Facilis dolores a illo
                                temporibus.
                            </p>
                        </div>
                    </div>

                    <div class="content_box">
                        <div class="label">List three</div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga harum
                                ad nesciunt quas nemo. Distinctio, similique libero ex minima vel
                                rem reprehenderit quasi officia in aperiam quam, at et voluptate
                                atque, cupiditate aliquam? Dolore, tenetur. Facilis dolores a illo
                                temporibus.
                            </p>
                        </div>
                    </div>

                    <div class="content_box">
                        <div class="label">List four</div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga harum
                                ad nesciunt quas nemo. Distinctio, similique libero ex minima vel
                                rem reprehenderit quasi officia in aperiam quam, at et voluptate
                                atque, cupiditate aliquam? Dolore, tenetur. Facilis dolores a illo
                                temporibus.
                            </p>
                        </div>
                    </div>

                    <div class="content_box">
                        <div class="label">List five</div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga harum
                                ad nesciunt quas nemo. Distinctio, similique libero ex minima vel
                                rem reprehenderit quasi officia in aperiam quam, at et voluptate
                                atque, cupiditate aliquam? Dolore, tenetur. Facilis dolores a illo
                                temporibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
