<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gallery</title>
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-j8/OkF/yMow9jAgvOayLcnm8H0PCFbKjxGvRJLP2zidZOaGJZRMXKjtfIbHn3+8QRJMCyEoJxHkIyCQz1KjZVQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- ================For Icons================ -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="styleforgallery.css" />
    </head>

    <body>
        <div class="container">
            <div class="header">
                <p>Our Gallery</p>
                <!-- <div class="hr-container">
                    <hr />
                </div> -->
            </div>

            <div class="container2">
                <div class="photo_lab">
                    <img class="try" src="../images/1.jpg" alt="" />
                    <div class="overlay">
                        <div class="title">
                            This image is for the people in flood of sylhet and the medicine
                            distribution for the people. All the donor was present their and local
                            people were their to take the medicines.The aid function was
                            successfully completed.
                        </div>
                    </div>
                </div>

                <div class="photo_lab">
                    <img class="try" src="../images/2.jpeg" alt="" />
                    <div class="overlay">
                        <div class="title">
                            This image is for the people in flood of Dhaka and the medicine
                            distribution for the people. All the donor was present their and local
                            people were their to take the medicines.The aid function was
                            successfully completed.
                        </div>
                    </div>
                </div>
                <div class="photo_lab">
                    <img class="try" src="../images/3.jpeg" alt="" />
                    <div class="overlay">
                        <div class="title">
                            This image is for the people in flood of Comilla and the medicine
                            distribution for the people. All the donor was present their and local
                            people were their to take the medicines.The aid function was
                            successfully completed.
                        </div>
                    </div>
                </div>
                <div class="photo_lab">
                    <img class="try" src="../images/4.jpeg" alt="" />
                    <div class="overlay">
                        <div class="title">
                            This image is for the people in flood of Rajshahi and the medicine
                            distribution for the people. All the donor was present their and local
                            people were their to take the medicines.The aid function was
                            successfully completed.
                        </div>
                    </div>
                </div>
                <div class="photo_lab">
                    <img class="try" src="../images/2.jpeg" alt="" />
                    <div class="overlay">
                        <div class="title">
                            This image is for the people in flood of Khulna and the medicine
                            distribution for the people. All the donor was present their and local
                            people were their to take the medicines.The aid function was
                            successfully completed.
                        </div>
                    </div>
                </div>
                <div class="photo_lab">
                    <img class="try" src="../images/3.jpeg" alt="" />
                    <div class="overlay">
                        <div class="title">
                            This image is for the people in flood of Barishal and the medicine
                            distribution for the people. All the donor was present their and local
                            people were their to take the medicines.The aid function was
                            successfully completed.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
