<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediAid</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>hello</h1>
    <div class="card">
        <div class="upper">
            <div class="left">
                <h1>Healthcare Products</h1>
            </div>
            <div class="right">
                <button class="button">visit</button>
            </div>
        </div>
        <div class="lower">
            <h3>Rating</h3>
        </div>
    </div>



    <div class="display">
        <div class="plate">
            <div class="left_part">
                <h1>A platform to donate medicine and making available medicine for deprived people in emergency.</h1>
                <br>
                <h4>We allow you to donate medicine and to apply for it.</h4>
                <br>
                <button class="button">Let's have a visit</button>
                <br>
                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="right_part">
                <img src="../images/images.jpg" width="400px" height="100%" style="border-radius:0px 0px 35px 0px">
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="product_card">
            <h1>hello</h1>
            <div class="pic">
                
            </div>
            <div class="info">

            </div>
            <div class="others">

            </div>
        </div>
    </div>
</body>