<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-j8/OkF/yMow9jAgvOayLcnm8H0PCFbKjxGvRJLP2zidZOaGJZRMXKjtfIbHn3+8QRJMCyEoJxHkIyCQz1KjZVQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- ================For Icons================ -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="styleforregister.css" />
    </head>
    <body>
        <div class="box">
            <div class="log_in_page">
                <div class="logo">
                    <h1>MediAid</h1>
                </div>
                <div class="description">
                    <h2>Register Now</h2>
                    <h4>Enter your credentials to continue</h4>
                </div>

                <div class="form_description">
                    <div class="auth">
                        <p>Authentication</p>
                    </div>
                    <div class="auth1">
                        <p>Register with Email Address</p>
                    </div>
                </div>

                <div class="log_in_container">
                    <div class="first_name">
                        <div class="first">
                            <input type="text" class="input" placeholder="First Name" required />
                        </div>
                        <div class="last">
                            <input type="text" class="input" placeholder="Last Name" required />
                        </div>
                    </div>

                    <!-- <div class="input_field_firstlastname">  
                        <div class="first_name">
                            <input type="text" class="input" placeholder="First Name" required />
                        </div>
                        <div class="last_name">
                            <input type="text" class="input" placeholder="Last Name" required />
                        </div>
                    </div> -->

                    <!-- <div class="newcheck"> 
                        <div class="first_name">
                            <input type="text" class="input" placeholder="First Name" required />
                        </div>
                        <div class="last_name">
                            <input type="text" class="input" placeholder="Last Name" required />
                        </div>
                    </div> -->

                    <!-- <div class="hello">       
                        <div class="first_name">
                            <input type="text" class="input" placeholder="First Name" required />
                        </div>
                        <div class="last_name">
                            <input type="text" class="input" placeholder="Last Name" required />
                        </div>
                    </div> -->

                    <div class="input_field">
                        <input type="text" class="input" placeholder="Enter Email" required />
                    </div>

                    <div class="input_field">
                        <input type="password" class="input" placeholder="Password" required />
                    </div>

                    <div class="input_field_unique">
                        <div class="left">
                            <input type="checkbox" id="check" />
                            <label for="check">Agree with terms & conditions</label>
                        </div>
                        <!-- <div class="right">
                            <label><a href="#">Reset Password?</a></label>
                        </div> -->
                    </div>

                    <div class="input_field">
                        <input type="submit" class="input_button" value="Register" />
                    </div>
                    <div class="hr-container">
                        <hr />
                    </div>
                    <div class="road_to_registration">
                        <h4>Already have an account?</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
