* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    color: black;
}
.card {
    /* height: 400px; */
    width: 400px;
    /* background-color: rgb(219, 13, 13); */
    background-color: white;
    border-radius: 15px;
    background-image: url("../images/image.jpg");
}
.upper {
    /* background-color: white; */
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.lower {
    /* background-color: white; */
    padding-left: 28px;
    /* height: 80px; */
    /* display: flex; */
    padding-top: 27px;
    align-items: center;
}
.left {
    /* background-color: white; */
    width: 250px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.right {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    width: 125px;
}
.button {
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(99, 81, 177);
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.4s;
}
.button:hover {
    transform: scale(1.2);
}
.lower .st1 {
    color: rgb(100, 61, 173);
}
.display {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: green;
}
.plate {
    background-color: white;
    width: 80%;
    display: flex;
}
.left_part {
    width: auto;
    background-color: white;
    justify-content: flex-end;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(100, 61, 173);
    /* line-height: 1.6; */
}
.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(100, 61, 173);
    border-radius: 50%;
    display: inline-block;
}
.right_part {
    background-color: white;
    width: auto;
    /* height: 500px; */
}

.right_part {
    line-height: 0px;
}
/*///////////////////////////////////////////////*/
.cards {
    /* width: 100%; */
    flex-basis: calc(100% / 3);
    height: auto;
    padding: 20px;
    
}
.cards .product_card {
    transition: 0.4s;
}
.cards .product_card:hover {
    transform: translateY(-20px);
}

.product_card {
    height: 100%;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
}
.pic {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    position: relative;
}
.mod-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
    top: 35px;
}

.pic img {
    width: 100%;
    /* object-fit: cover; */
}
.pic .heart1 {
    color: red;
}
.info {
    padding-left: 25px;
    padding-right: 25px;
}
.others {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    position: relative;
}
.others .button {
    font-size: 15px;
    color: white;
    font-weight: bold;
    height: 40px;
    /* width: 70px; */
    background-color: rgb(100, 61, 173);
    padding: 10px 20px;
    justify-content: left;
    /* border: 2px solid transparent; */
    /* border-radius: 10px; */
    transition: transform 0.4s;
    position: absolute;
    top: 40px;
    right: 25px;
}
.others .st1 {
    color: rgb(100, 61, 173);
}
/*------------------------profile part--------------------*/
.profile_container {
    width: 100%;
    height: auto;
    background-color: coral;
    position: relative;
}
.cover {
    width: 100%;
    height: 300px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cover .button {
    position: absolute;
    top: 20px;
    right: 25px;
}
.profile {
    height: 250px;
    width: 250px;
    background-image: url("../images/asif.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 205px;
    left: 48px;
    transition: 0.5s;
    border-radius: 5%;
    border: 5px solid blue;
}
.profile:hover {
    transform: translateY(-20px);
}
.rest_part {
    background-color: white;
    width: 100%;
    height: 500px;
}
.content {
    padding-top: 167px;
    padding-left: 47px;
    height: auto;
    width: 407px;
    /* background-color: brown; */
}
.content h1 {
    padding-bottom: 10px;
}
.content .button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.fb_icon {
    color: blue;
    font-size: 45px;
    padding-right: 5px;
    transition: 0.2s;
}

.fb_icon:hover {
    transform: scale(1.5);
}
.ig_icon {
    color: rgb(246, 123, 28);
    font-size: 45px;
    padding-right: 5px;
    transition: 0.2s;
}
.ig_icon:hover {
    transform: scale(1.5);
}
.wp_icon {
    color: green;
    font-size: 45px;
    padding-right: 5px;
    transition: 0.2s;
}
.wp_icon:hover {
    transform: scale(1.5);
}
.linkedin_icon {
    color: darkblue;
    font-size: 45px;
    padding-right: 5px;
    transition: 0.2s;
}
.linkedin_icon:hover {
    transform: scale(1.5);
}
.recent_donate {
    background-color: rgb(204, 201, 209);
    /* width: 100%; */
    height: auto;
    /* padding: 10px; */
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 100%;
}

#design_for_h1 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: aqua;
}
