@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 600px;
    margin: auto;
    padding: 1.3rem;
    border-radius: 14px;
    box-shadow: #0000001a 0 4px 12px;
}

.container .leader {
    display: flex;
}

.container .crown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container .crown svg {
    width: 3rem;
}

.container .image {
    height: 58px;
    object-fit: cover;
    width: 58px;
    background-color: black;
    border-radius: 50%;
}

.container .topLeadersList {
    display: flex;
    position: relative;
    min-height: 120px;
    padding-top: 3rem;
}

.container .topLeadersList .image {
    border-radius: 50%;
    border: 4px solid #cb8fff;
}

.container .topLeadersList .leader:nth-child(1) {
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container .topLeadersList .leader:nth-child(1):after {
    content: "1";
    width: 30px;
    height: 30px;
    background: #ffc500;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    box-shadow: 1px 1px 4px black;
}

.container .topLeadersList .leader:nth-child(1) .image {
    width: 130px;
    height: 130px;
}

.container .topLeadersList .leader:nth-child(1) .crown {
    top: -20%;
}

.container .topLeadersList .leader:nth-child(1) .crown svg {
    fill: #ffc500;
}

.container .topLeadersList .leader:nth-child(2) {
    color: black;
    position: absolute;
    left: 15%;
    transform: translateX(-15%);
    bottom: -20%;
}

.container .topLeadersList .leader:nth-child(2):after {
    content: "2";
    width: 30px;
    height: 30px;
    background: #d4d4d4;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    box-shadow: 1px 1px 4px black;
}

.container .topLeadersList .leader:nth-child(2) .image {
    width: 110px;
    height: 110px;
}

.container .topLeadersList .leader:nth-child(2) .crown {
    top: -25%;
}

.container .topLeadersList .leader:nth-child(2) .crown svg {
    fill: #d4d4d4;
}

.container .topLeadersList .leader:nth-child(3) {
    color: black;
    position: absolute;
    left: 85%;
    transform: translateX(-85%);
    bottom: -20%;
}

.container .topLeadersList .leader:nth-child(3):after {
    content: "3";
    width: 30px;
    height: 30px;
    background: #ab6528;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    box-shadow: 1px 1px 4px black;
}

.container .topLeadersList .leader:nth-child(3) .image {
    width: 110px;
    height: 110px;
}

.container .topLeadersList .leader:nth-child(3) .crown {
    top: -25%;
}

.container .topLeadersList .leader:nth-child(3) .crown svg {
    fill: #ab6528;
}

.container .leaderName {
    position: absolute;
    text-align: center;
    color: #424242;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    white-space: nowrap;
    margin-top: 7px;
}

.container .player {
    background-color: #898fd5;
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 3fr 2fr;
    align-items: center;
    min-height: 42px;
    text-align: center;
    padding-block: 8px;
    padding-right: 0.4rem;
}

.container .player span:last-child {
    text-align: right;
    padding-right: 16px;
}

.container .player .image {
    width: 40px;
    height: 40px;
    border: 1.5px solid white;
}

.container .table {
    margin-right: 0.1rem;
    display: grid;
    font-size: 14px;
    grid-template-columns: 0.4fr 0.5fr 3fr 2fr;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    color: black;
    white-space: nowrap;
    padding-block: 12px;
    font-weight: 500;
}

.container .table div:nth-child(2) {
    text-align: left;
    margin-left: 5px;
}

.container .table div:nth-child(4) {
    padding-right: 20px;
    text-align: right;
}

.container .table .image {
    width: 20px;
    height: 20px;
}

.container .playerslist {
    margin-top: 7.5rem;
    font-size: 16px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    border: 1px solid #e3e3e3;
    border-radius: 14px;
}

.container .playerslist .player:nth-child(odd) {
    background-color: #f7f7f7;
    align-items: center;
    color: black;
}

.container .user {
    display: flex;
    align-items: center;
    gap: 4px;
}

.container .user span {
    color: black;
    white-space: nowrap;
}

.container .list {
    overflow-x: hidden;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.container .playerslist .player:nth-child(even) .user span {
    color: white;
}
