* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    color: black;
}
p {
    color: black;
    font-size: 120%;
    font-weight: 400;
}
.container {
    background-color: darkgrey;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}
.header {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 0px;
    margin: 5px;
    position: relative;
    /* border-radius: 10px; */
    /* border-bottom: 2px solid black; */
    /* padding: 0;
    margin: 0; */
}
.container .header .text{
    padding-left: 15px;
}
.hr-container {
    margin-top: 20px;
}

.button {
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(99, 81, 177);
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.4s;
    position: absolute;
    right: 14px;
    top: 14px;

}
.button:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
}

.accordion{
    padding: 20px;
    background: #bedfe8;
}
.accordion .content_box{
    position: relative;
    margin: 10px 20px;
}
.accordion .content_box .label{
    position: relative;
    padding: 10px;
    background: #2694af;  
    cursor: pointer;  
    color: white;
    font-size: large;
}
.accordion .content_box .label::before{
    content: '+';
    position: absolute;
    /* top: 50%; */
    right: 10px;
    font-weight: bold;
}
.accordion .content_box.active .label::before{
    content: '-';
}
.accordion .content_box .content{
    position: relative;
    background: white;
    /* padding: 10px; */
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.accordion .content_box.active .content{
    padding: 10px;
    height: auto;
}