.MuiInputBase-root.Mui-focused:not(.Mui-error) .MuiOutlinedInput-notchedOutline {
    border-color: #2196f3 !important;
}

.MuiButton-endIcon.MuiButton-iconSizeMedium {
    margin-left: 1px;
}

.search-floating-md .MuiFormControl-root {
    padding-inline: 16px;
}

.down-list>.MuiPaper-root {
    margin-top: 83px;
    height: calc(100% - 83px);
    overflow-y: hidden;
}

.down-list>.MuiPaper-root:hover {
    overflow-y: visible;
}

.nav-text>.MuiTypography-root {
    font-weight: 400;
    font-size: 0.95rem;
    color: inherit;
    /* color: #364152; */
}

.active .MuiListItemIcon-root {
    color: #5e35b1 !important;
}

.active :is(.MuiButtonBase-root.MuiListItemButton-root, .MuiListItemIcon-root) {
    background-color: #ede7f6;
    color: #5e35b1 !important;
}

.bold-titles {
    color: #5e5873;
    font-weight: 500;
}

.drop-shadow-img {
    filter: drop-shadow(2px 1px 5px #666666);
}