.MuiInputBase-root.Mui-focused:not(.Mui-error) .MuiOutlinedInput-notchedOutline {
    border-color: #2196f3 !important;
}

.MuiButton-endIcon.MuiButton-iconSizeMedium.css-1gnd1fd-MuiButton-endIcon {
    margin-left: 1px;
}

.search-floating-md .MuiFormControl-root.css-1x3zuk7-MuiFormControl-root {
    padding-inline: 16px;
}