<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Donors</title>
    <link rel="stylesheet" href="./leaderboard.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="topLeadersList">
                <!-- first place -->
                <div class="leader">
                    <div class="containerImage">
                        <img class="image" loading="lazy"
                            src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680977885/mediAid/profile/profilePicture-1680977883956_z1ilyl.jpg" />
                        <div class="crown">
                            <svg id="crown1" fill="#0f74b5" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 100 50">
                                <polygon class="cls-1" points="12.7 50 87.5 50 100 0 75 25 50 0 25.6 25 0 0 12.7 50" />
                            </svg>
                        </div>
                        <div class="leaderName">Asiful Haque</div>
                    </div>
                </div>
                <!-- second place -->
                <div class="leader">
                    <div class="containerImage">
                        <img class="image" loading="lazy"
                            src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680702207/mediAid/profile/profilePicture-1680702203164_imwqrk.png" />
                        <div class="crown">
                            <svg id="crown1" fill="#0f74b5" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 100 50">
                                <polygon class="cls-1" points="12.7 50 87.5 50 100 0 75 25 50 0 25.6 25 0 0 12.7 50" />
                            </svg>
                        </div>
                        <div class="leaderName">Md. Minhaz</div>
                    </div>
                </div>
                <!-- third place -->
                <div class="leader">
                    <div class="containerImage">
                        <img class="image" loading="lazy"
                            src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680632612/mediAid/default-profile-pic_lktd2q.webp" />
                        <div class="crown">
                            <svg id="crown1" fill="#0f74b5" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 100 50">
                                <polygon class="cls-1" points="12.7 50 87.5 50 100 0 75 25 50 0 25.6 25 0 0 12.7 50" />
                            </svg>
                        </div>
                        <div class="leaderName">John Doe</div>
                    </div>
                </div>
            </div>

            <div class="playerslist">
                <div class="table">
                    <div>#</div>

                    <div>Avatar</div>

                    <div>Name</div>

                    <div>Total Donation</div>
                </div>
                <div class="list">
                    <!-- row 1 -->
                    <div class="player">
                        <span> 1 </span>
                        <div class="user">
                            <img class="image"
                                src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680977885/mediAid/profile/profilePicture-1680977883956_z1ilyl.jpg" />
                        </div>
                        <span> Asiful Haque </span>
                        <span> 340 </span>
                    </div>
                    <!-- row 2 -->
                    <div class="player">
                        <span> 2 </span>
                        <div class="user">
                            <img class="image"
                                src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680702207/mediAid/profile/profilePicture-1680702203164_imwqrk.png" />
                        </div>
                        <span> Md. Minhaz </span>
                        <span> 250 </span>
                    </div>
                    <!-- row 3 -->
                    <div class="player">
                        <span> 3 </span>
                        <div class="user">
                            <img class="image"
                                src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680632612/mediAid/default-profile-pic_lktd2q.webp" />
                        </div>
                        <span> John Doe </span>
                        <span> 128 </span>
                    </div>
                    <!-- row 4 -->
                    <div class="player">
                        <span> 4 </span>
                        <div class="user">
                            <img class="image"
                                src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680632612/mediAid/default-profile-pic_lktd2q.webp" />
                        </div>
                        <span> Jane Doe </span>
                        <span> 100 </span>
                    </div>
                    <!-- row 5 -->
                    <div class="player">
                        <span> 5 </span>
                        <div class="user">
                            <img class="image"
                                src="https://res.cloudinary.com/hostingimagesservice/image/upload/v1680632612/mediAid/default-profile-pic_lktd2q.webp" />
                        </div>
                        <span> Ron Weasley </span>
                        <span> 28 </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>